<div id="detectron2-app-train">
    <sly-style>
        #detectron2-app-train .el-tabs.el-tabs-cards .el-radio {
        display: flex;
        align-items: start;
        /*margin-bottom: 10px;*/
        margin-left: 0;
        white-space: normal;
        }

        #detectron2-app-train .el-tabs.el-tabs-cards .el-radio__label div {
        color: #7f858e;
        font-size: 13px;
        }

        #detectron2-app-train .el-tabs.el-tabs-cards .el-radio__label {
        line-height: 17px;
        }

        .beautiful-table { border-collapse: collapse; }
        .beautiful-table tr:nth-child(2n) { background-color: #f6f8fa; }
        .beautiful-table td, .beautiful-table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
        text-align: center;
        line-height: 20px;
        }
        .beautiful-table.al td, .beautiful-table.al th {
        text-align: left;
        }

        #detectron2-app-train .el-tabs.el-tabs-cards { border-radius: 4px; box-shadow: none; }
        #detectron2-app-train .el-tabs.el-tabs-cards .el-tabs__header { background-color: #f6fafd; }
        #detectron2-app-train .el-tabs.el-tabs-cards .el-tabs__nav { float: none; display: flex; justify-content:
        space-between; }
        #detectron2-app-train .el-tabs.el-tabs-cards .el-tabs__item { flex: 1; margin-bottom: -3px; padding: 9px 16px
        13px;
        height: auto; line-height: normal; border-radius: 4px; }

        #detectron2-app-train .action-icon-btn {
        padding: 0;
        height: 22px;
        width: 22px;
        line-height: 22px;
        border-radius: 50%;
        font-size: 11px;
        text-align: center;
        }

        #detectron2-app-train .progress-text-margin .el-progress__text{
        margin-left: 20px;
        }

        #detectron2-app-train .el-slider-center .el-slider__runway {
        margin: 0 0;
        margin-top: 10px;
        margin-bottom: 5px;
        }

        #detectron2-app-train .train-eta-style {
        margin: 0 5px;
        background: #9039bb;
        color: white;
        font-weight: 500;
        border-radius: 8px;
        padding: 9px 18px;
        transition: .5s box-shadow, .5s opacity, .5s background !important;
        text-transform: uppercase;
        font-size: 13px;
        }

    </sly-style>

    <sly-stepper :active="state.activeStep">
        <sly-stepper-item>
            {% include 'supervisely/train/src/ui/step01_input_project.html' %}
        </sly-stepper-item>
        <sly-stepper-item>
            {% include 'supervisely/train/src/ui/step02_splits.html' %}
        </sly-stepper-item>
        <sly-stepper-item>
            {% include 'supervisely/train/src/ui/step03_classes.html' %}
        </sly-stepper-item>
        <sly-stepper-item>
            {% include 'supervisely/train/src/ui/step04_augs.html' %}
        </sly-stepper-item>
        <sly-stepper-item>
            {% include 'supervisely/train/src/ui/step05_models.html' %}
        </sly-stepper-item>
        <sly-stepper-item>
            {% include 'supervisely/train/src/ui/step06_hyperparameters.html' %}
        </sly-stepper-item>
        <sly-stepper-item>
            {% include 'supervisely/train/src/ui/step07_train.html' %}
        </sly-stepper-item>
    </sly-stepper>

    <el-dialog
            title="Restart from this step"
            :visible.sync="state.restartFrom"
            size="tiny">
        <span>This step and all next steps will be reseted</span>
        <span slot="footer" class="dialog-footer">
            <el-button @click="state.restartFrom = null">Cancel</el-button>
            <!--        $nextTick(() => { $refs['card3'].$el.scrollIntoView({behavior: 'smooth', block: 'center'}); });-->
            <el-button type="primary" class="regular"
                       @click="command('restart');">
                Confirm
            </el-button>
        </span>
    </el-dialog>
</div>