<sly-card title="Training progress"
          subtitle="Task progress, detailed logs, metrics charts, and other visualizations"
          ref="step7"
          :options="{collapsable: true}"
          :collapsed.sync="state.collapsed7"
          :disabled="{disabled: state.disabled7, message: 'Finish previous steps before run training'}"
>
    <div v-if="!state.done7"
         style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
        <el-button
                type="primary" class="regular"
                size="small"
                @click="state.started = true; command('train')"
                :loading="state.started === true"
        >
            <i v-if="!state.started" class="zmdi zmdi-play mr5"></i>
            Train
        </el-button>
        <div v-if="state.eta" style="display: flex">
            <div class="train-eta-style" style="background-color: #003c71">
                {{data.progressIter.message}}: {{data.progressIter.current}} / {{data.progressIter.total}}
            </div>
            <span class="train-eta-style">
                {{state.eta}}
            </span>
        </div>
    </div>
    <div v-if="data.outputUrl">
        <sly-field title="Training artifacts"
                   description="Training artifacts has been uploaded to Team Files">
            <a slot="title" target="_blank" :href="`${data.outputUrl}`">{{data.outputName}}</a>
            <sly-icon slot="icon" :options="{ color: '#33c94c', bgColor: '#d9f7e4', rounded: false }">
                <i class="zmdi zmdi-folder"></i>
            </sly-icon>
        </sly-field>
        <div>
            <i class="zmdi zmdi-check-circle mr5" style="color: #13ce66"></i>
            <span style="color: #5a6772;">Training has been successfully finished</span>
        </div>
    </div>


    <div v-if="data.progressIter.message && !data.outputUrl && state.eta" class="mt10">

        <el-progress :percentage="data.progressIter.percent" class="progress-text-margin"></el-progress>
    </div>
    <div v-if="data.progressOther.message && !data.outputUrl" class="mt10">
        <div style="color: #20a0ff">
            {{data.progressOther.message}}: {{data.progressOther.current}} / {{data.progressOther.total}}
        </div>
        <el-progress :percentage="data.progressOther.percent"></el-progress>
    </div>
    <div class="mt15" v-if="state.started === true || state.done7">
        <hr class="mt10 mb10" style="border: 0; border-top: 1px solid rgba(0,0,0,.12);"/>
        <sly-field title="" description="" style="align-items: center">
            <sly-icon slot="icon" :options="{ color: '#006ad4', bgColor: '#e0f2ff', rounded: false }">
                <i class="zmdi zmdi-trending-up"></i>
            </sly-icon>

            <div slot="title">

                <span style="font-weight: 500">
                    Charts Smoothing
                </span>
                <el-slider
                        class="el-slider-center"
                        :value="state.smoothing"
                        :min="0" :max="0.95" :step="0.05"
                        style="width: 280px;"
                        @input="(val)=>{
                                state.smoothing = val;
                                data.chartLoss.options.smoothingWeight = val;
                                data.chartAP.options.smoothingWeight = val;
                            }"
                >
                </el-slider>
            </div>


        </sly-field>

        <sly-field title="Training charts" description="Real-time training metrics">
            <div class="fflex">
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartLR.options"
                        :content="data.chartLR.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartLoss.options"
                        :content="data.chartLoss.series">
                </sly-line-chart>
                <sly-line-chart
                        style="width: 33%;"
                        :options.sync="data.chartAP.options"
                        :content="data.chartAP.series">
                </sly-line-chart>
            </div>
        </sly-field>

        <div class="mt10 mb10 ml10 mr10" v-if="data.previewPredLinks.length > 0">
            <!--            {{state.currEpochPreview}}-->
            <!--            {{state.visStep}}-->
            <div style="display: flex; flex-direction: row;">

                <div class="block">
                    <!--                    <div><b>VISUALIZATION EPOCH {{state.currEpochPreview}}</b></div>-->
                    <el-checkbox v-model="state.followLastPrediction"
                                 @input="{state.followLastPrediction ? [state.currEpochPreview=data.previewPredLinks.length * state.visStep] : []}">
                        Follow Last Prediction
                        <b style="color: dimgray">[iteration {{data.previewPredLinks.length * state.visStep}}]</b>
                    </el-checkbox>
                    <el-slider
                            v-model="state.currEpochPreview"

                            style="padding-right: 10px;"
                            show-stops
                            :min="state.visStep"
                            :max="data.previewPredLinks.length * state.visStep"
                            :step="state.visStep"
                            :disabled="data.previewPredLinks.length < 2"
                            @change="command('previewByEpoch')">

                    </el-slider>
                </div>
            </div>

        </div>

        <sly-table
                class="mt10"
                v-if="data.metricsTable"
                :content="data.metricsTable"
                :options="{perPage: 10, pageSizes: 10}">
        </sly-table>

        <sly-grid-gallery
                class="mt10"
                v-if="data.galleryPreview"
                :content="data.galleryPreview.content"
                :options="data.galleryPreview.options">
            <template v-slot:card-footer="{ annotation }">
                <div class="mt5" style="text-align: center">
                    <el-tag type="primary">{{ annotation.title }}</el-tag>
                </div>
            </template>
        </sly-grid-gallery>
        </sly-field>
        <div v-else
             v-loading="true"
             :element-loading-text="`Predictions will be available after ${state.visStep} iterations...`"
             style="height: 150px">
        </div>
    </div>
</sly-card>